[user]
	name = Scrap
	email = 105889363+scrapp08@users.noreply.github.com
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
